---
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const defaultTitle = "Emak Yapı";
const {
  title: pageTitle,
  description = "Emak Yapı, kaliteli inşaat malzemeleri ve çözümleri sunan güvenilir bir markadır.",
} = Astro.props;
const title = pageTitle ? `${pageTitle} | ${defaultTitle}` : defaultTitle;
---

<!doctype html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/emak-logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
